*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #ABB2B9;
}
#contenidor{
	width: 950px;
	margin: auto;
}
main{
	width: 950px;
	height: 100px;
	background-color: #ABB2B9;
}
header nav{
	text-align: center;
    background-color: #CACFD2;
}
header nav ul li{
	display: inline-block;
	padding: 10px;
}
header nav ul li a{
	text-decoration:none;
	font-family: Times New Roman;
	font-size: 20px;
	color: black;
}
header nav ul li a:hover{
	color: white;
}
section{
	float: left;
	width: 100%;
	height: 1950px;
	margin-top: 5px;
	background-color: white;
}
aside{
	width: 195px;
	height: 300px;
	margin-left: 5px;
	background-color: white;
}
aside:nth-of-type(1){
	height: 50px;
}
footer{
	clear: both;
	width: 950px;
	height: 50px;
	text-align: center;
	color: white;
	line-height: 50px;
}
.titulo{
	width: 80%;
	height: 100px;
	background-color: #ABB2B9;
	float: left;
	color:white;
	font-size: 80px;
}
.imgprin{
	width: 100%; 
	height: 450px; 
	background-color: #f2f2f2; 
	color: black; 
	clear: both;
}
.inferior{
	width: 33.33%; 
	height: 300px; 
	float: left;
}
img{
	width: 100%;
	height: 450px;
}



















